<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/defaultLayout}">

	<!-- section 영역 : Layout 문법 사용 -->
	<section layout:fragment="content" class="contents d-flex justify-content-center">
		<div class="w-50 py-4">
			<h1 class="mb-4">회원가입</h1>
			
			<!-- form 태그 3종 세트 : 
			form 태그(method), name 속성(parameter), submit 타입(parameter 전송) -->
			
			<form id="signUpForm" method="post" action="/user/sign-up">
				<table class="sign-up-table table table-bordered">
					<tr>
						<th>* 아이디(4자 이상)<br></th>
						<td>
							<!-- 인풋박스 옆에 중복확인을 붙이기 위해 div를 하나 더 만들고 d-flex -->
							<div class="d-flex">
								<input type="text" id="loginId" name="loginId" class="form-control col-9" placeholder="아이디를 입력하세요.">
								<button type="button" id="loginIdCheckBtn" class="btn btn-success">중복확인</button><br>
							</div>
							
							<!-- 아이디 체크 결과 -->
							<!-- d-none 클래스: display none (보이지 않게) -->
							<div id="idCheckLength" class="small text-danger d-none">ID를 4자 이상 입력해주세요.</div>
							<div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
							<div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
						</td>
					</tr>
					<tr>
						<th>* 비밀번호</th>
						<td><input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요."></td>
					</tr>
					<tr>
						<th>* 비밀번호 확인</th>
						<td><input type="password" id="confirmPassword" class="form-control" placeholder="비밀번호를 입력하세요."></td>
					</tr>
					<tr>
						<th>* 이름</th>
						<td><input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요."></td>
					</tr>
					<tr>
						<th>* 이메일</th>
						<td><input type="text" id="email" name="email" class="form-control" placeholder="이메일 주소를 입력하세요."></td>
					</tr>
				</table>
				<br>
			
				<button type="submit" id="signUpBtn" class="btn btn-primary float-right">회원가입</button>
			</form>
		</div>
	</section>
	
	
	<!-- JS 영역 -->
	<th:block layout:fragment="script">
		<script>
			$(document).ready(function() {
				// 중복확인 - 버튼 클릭
				$("#loginIdCheckBtn").on('click', function() {
					// alert("중복확인");
					
					// 문구 초기화
					$("#idCheckLength").addClass("d-none");
					$("#idCheckDuplicated").addClass("d-none");
					$("#idCheckOk").addClass("d-none");
					
					
					let loginId = $("input[name=loginId]").val().trim();
					// alert(loginId);
					
					
					// validation
					if (loginId.length < 4) {
						$("#idCheckLength").removeClass("d-none");
						return;
					}
					
					
					// AJAX 호출
					$.ajax({
						// request
						// type 생략하면 Get 요청
						url: "/user/is-duplicate-id",
						data: {"loginId":loginId},
						
						// response
						success:function(data) {
							if (data.code == 200) {
								if (data.is_duplicate_id) {
									// 중복
									$("#idCheckDuplicated").removeClass("d-none");
								} else {
									// 사용 가능
									$("#idCheckOk").removeClass("d-none");
								}
							}
						},
						error:function(e) {
							alert("중복확인에 실패했습니다.");
						}
						
					}); // AJAX 호출 종료
					
					
				}); // 중복확인 - 버튼 클릭 종료
				
				
				// 회원가입 버튼
				$("#signUpForm").on("submit", function(e) {
					// alert("회원가입"); 아직 페이지 생성이 안 되서 404
					// =>
					e.preventDefault(); // submit 중단(페이지 이동 차단)
					// alert("회원가입");
					
					// validation
					let loginId = $("#loginId").val().trim();
					let password = $("#password").val().trim();
					let confirmPassword = $("#confirmPassword").val().trim();
					let name = $("#name").val().trim();
					let email = $("#email").val().trim();
					
					// 공백 처리
					if(!loginId) {
						alert("아이디를 입력하세요.");
						return false; // submit일 경우 false
					}
					
					if(!password || !confirmPassword) {
						alert("비밀번호를 입력하세요.");
						return false; // submit일 경우 false
					}
					if(password != confirmPassword) {
						alert("비밀번호가 일치하지 않습니다..");
						return false; // submit일 경우 false
					}
					
					if(!name) {
						alert("이름을 입력하세요.");
						return false; // submit일 경우 false
					}
					
					if(!email) {
						alert("이메일을 입력하세요.");
						return false; // submit일 경우 false
					}
					
					
					// loginId 중복 확인 후 사용 가능 여부 확인
					// #idCheckOk에 d-none이 있으면 alert
					if($("#idCheckOk").hasClass("d-none")) {
						alert("아이디 중복을 확인해주세요.");
						return false;
					}
					
					
					// 전송 1) : form 전송 => 다음 화면으로 이동(form은 restcontroller 불가)
					/*
					$(this)[0].submit(); // 0번째 form을 전송
					*/
					
					// 전송 2) : AJAX 호출 => JSON 응답
					// form 태그를 활용한 AJAX 호출
					let url = $(this).attr("action"); // form 태그의 action 값을 추출
					console.log(url);
					
					let params = $(this).serialize(); // form 태그의 name 속성과 value를 직렬화 => request 파라미터로 구성, 직렬화 : 전송을 위한 정렬
					console.log(params);
					
					
					// post 형식으로 JSON 구현
					// AJAX가 아닌 $.post 사용
					// $.ajax는 GET, POST 메서드 중 선택해 데이터를 요청 
					// $.post()메서드는 HTTP POST 요청만을 사용하여 서버에서 데이터를 요청
					$.post(url, params) // request 영역
					.done(function(data) { // response - callback 영역
						if (data.code == 200) {
							// 성공
							alert("가입을 환영합니다. 로그인 해주세요.");
							location.href = "/user/sign-in-view"; // 로그인 화면으로 이동
						} else {
							// 로직 상 실패
							alert(data.error_message);
						}
					}); // post 형식으로 JSON 구현 종료
					
					
				}); // 회원가입 버튼 종료
				
			});
		</script>
	</th:block>

</html>